<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="orange hrm Test Suite" parallel="true" verbose="2" thread-count="5">
    <test name="login page Test">
        <classes>
            <class name="runner.TestRunner"></class>
        </classes>
    </test>
</suite>